*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--color-black);
}

a,
a:visited,
a:link {
  color: inherit;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.buttonLight {
  border: none;
  outline: none;
  margin-top: 2rem;
  padding: 1.6rem 4rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.buttonLight > a {
  color: var(--color-white);
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.buttonDark {
  border: none;
  outline: none;
  margin-top: 2rem;
  padding: 1.6rem 4rem;
  background-color: var(--color-primary);
}
.buttonDark > a {
  color: var(--color-white);
  font-weight: 500;
  letter-spacing: 0.2rem;
}
