/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .header > h1 {
    font-size: 4.2rem;
    color: var(--color-white);
    letter-spacing: 0.3rem;
  }